#Blog-Header {
    color: var(--pale-dogwood);
}

#blog-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 50vw;
}

.blog-post {
    color: var(--pale-dogwood);
}

.blog-post a {
    color: var(--carolina-blue);
    text-decoration: none;
}

.blog-post a:hover {
    text-decoration: underline;
}

.blog-post p {
    font-size: 16px;
}

.label {
    font-family:"Share Tech";
    font-style:italic;
}
.project-individual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 600px) and (max-width: 849px) {

}

@media screen and (min-width: 850px){

}