* {
    padding: 0px;
    margin: 0px;
    /* Colour variables for palette*/
    --pale-dogwood: #ffdcccff;
    --orange-pantone: #f56416ff;
    --carolina-blue: #81adc8ff;
    --midnight-green: #0b3c49ff;
    --red-crayola: #ea1744ff;

    /* Default font */
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right, var(--orange-pantone), var(--midnight-green));
    height: 100vh;
    width: 100vw;
}

header{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    /* Keep 3:2 ratio for photo */

    display: block;
    height: 65%;
    width: auto;
    border-radius: 10%;
    margin-top: 2rem;
    justify-content: center;
}

header h1{
    font-size: 10vw;
    color: var(--pale-dogwood);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article p {
    text-align: center;
    width: 75%;
    color: var(--pale-dogwood);
    font-size: 5vw;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section p {
    color: var(--pale-dogwood);
}

#other-links{
    font-size: 7vw;
}

.nav-links{
    display:flex;
    justify-content: space-between;
    width: 80%;
    font-size: 4vw;
}

#resume-link{
    font-size: 7vw;
}

main section a{
    text-decoration:none;
    color: var(--carolina-blue);
    font-size: 4vw;
    margin-left: 5px;
    margin-right: 5px;
}

main section a:hover{
    text-decoration:underline;
}

footer {
    color: var(--pale-dogwood);
    height: 20%;
    display:flex;
    justify-content: center;
}

#extra-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#extra-links p {
    font-size:4vw;
}

.icons-links{
    padding-top: 10px;
    color: var(--carolina-blue);
    width: 65%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    header img{
        /* Keep 3:2 ratio for photo */
        width: 20%;
        height: auto;
    }
}