* {
    padding: 0px;
    margin: 0px;
    /* Colour variables for palette*/
    --pale-dogwood: #ffdcccff;
    --orange-pantone: #f56416ff;
    --carolina-blue: #81adc8ff;
    --midnight-green: #0b3c49ff;
    --red-crayola: #ea1744ff;

    /* Default font */
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right, var(--orange-pantone), var(--midnight-green));
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img{
    /* Keep 3:2 ratio for photo */
    display: block;
    width: 45%;
    height: auto;
    border-radius: 10%;
    margin-top: 2rem;
    justify-content: center;
}

header h1{
    margin-top: 2rem;
    font-size: 10vw;
    color: var(--pale-dogwood);
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article p {
    color: var(--pale-dogwood);
    font-size: 5vw;
    margin-top: 5%;
    margin-left: 10%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

main section p {
    color: var(--pale-dogwood);
}

.navlinks{
    display:flex;

}

main section a{
    text-decoration:none;
    color: var(--carolina-blue);
    font-size: 4vw;
    margin-left: 5px;
    margin-right: 5px;
}

main section a:hover{
    text-decoration:underline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.icons-links{
    display:flex;
    justify-content: space-between;
}

.icon-links child{
    padding: 10px;
}

@media screen and (min-width: 600px) {
    header img{
        /* Keep 3:2 ratio for photo */
        width: 20%;
        height: auto;
    }
}